<nav class="navbar navbar-expand-lg navbar-dark bg-primary ">
    <a class="navbar-brand" href='/'>
        GuiaPress
    </a>
    <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <a class='nav-link' href="/orders">Pedidos</a>
        </li>
        <li class="nav-item">
            <a class='nav-link' href="/prices">Preços</a>
        </li>
        <li class="nav-item">
            <a class='nav-link' href="/companies">Empresas</a>
        </li>
        <li class="nav-item">
            <a  class='nav-link' href="/products">Produtos</a>
        </li>
    </ul>
</nav>